---
    apiVersion: "apps/v1"
    kind: "Deployment"
    metadata:
      name: "app"
      namespace: "default"
      labels:
        app: "app"
    spec:
      replicas: 3
      selector:
        matchLabels:
          app: "app"
      template:
        metadata:
          labels:
            app: "app"
        spec:
          containers:
          - name: "front-sha256-1"
            image: "gcr.io/conductive-fold-275020/front@sha256:f7505d703389d0a4afe7720262860d649bcc6706894a761001a983743d5c1528"
    ---
    apiVersion: "autoscaling/v2beta1"
    kind: "HorizontalPodAutoscaler"
    metadata:
      name: "app-hpa-rc5n"
      namespace: "default"
      labels:
        app: "app"
    spec:
      scaleTargetRef:
        kind: "Deployment"
        name: "app"
        apiVersion: "apps/v1"
      minReplicas: 1
      maxReplicas: 5
      metrics:
      - type: "Resource"
        resource:
          name: "cpu"
          targetAverageUtilization: 80
    